{% extends 'library_app/base_admin.html' %}

{% block content %}
<h2>Orders</h2>
<table>
<tr>
    <th>User</th>
    <th>Book</th>
    <th>Quantity</th>
    <th>Date Borrowed</th>
    <th>Date Returned</th>
    <th>Actions</th> <!-- New column for buttons -->
</tr>

{% for order in orders %}
<tr>
    <td>{{ order.user.username }}</td>
    <td>{{ order.book.title }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.date_rent }}</td>
    <td>{{ order.date_return|default:"Not returned" }}</td>
    <td>
    {% if order.status == 'waiting' %}
    <form method="POST" action="{% url 'admin_accept_order' order.id %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn-accept">Accept</button>
    </form>
    <form method="POST" action="{% url 'admin_refuse_order_view' order.id %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn-refuse">Refuse</button>
    </form>
    {% else %}
    <span>{{ order.get_status_display }}</span>
    {% endif %}
</td>


</tr>
{% empty %}
<tr><td colspan="6">No orders yet</td></tr>
{% endfor %}
</table>
{% endblock %}
