{% extends 'library_app/base_user.html' %}
{% block title %}Reading History | PageTurn Library{% endblock %}

{% block content %}
<h2>Your Reading History</h2>
<table>
<tr>
    <th>Book</th>
    <th>Quantity</th>
    <th>Date Borrowed</th>
    <th>Date Returned</th>
    <th>Review</th>
</tr>
{% for order in returned_books %}
<tr>
    <td>{{ order.book.title }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.date_rent }}</td>
    <td>{{ order.date_return }}</td>
    <td>
        <a href="{% url 'add_review' order.book.id %}" class="btn btn-info">Review</a>
    </td>
</tr>
{% empty %}
<tr><td colspan="5">No books returned yet</td></tr>
{% endfor %}
</table>
{% endblock %}
