{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PageTurn Library</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user_home.css' %}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="nav-left">
        <h2>📖 PageTurn Library</h2>
        <a href="#"><button class="nav-btn">Browse Books</button></a>
    </div>
    <div>
        👤 {{ request.user.username }}
    </div>
</div>


<form method="GET" class="search-box" action="{% url 'user_home' %}">
    <input type="text" name="q" placeholder="Search books..." value="{{ search_query }}">
    <button type="submit">Search</button>
</form>

<div class="genres">
    <form method="GET" action="{% url 'user_home' %}">
        <button type="submit" name="genre" value="All" class="{% if active_genre == 'All' %}active{% endif %}">All</button>
        {% for g in genres %}
        <button type="submit" name="genre" value="{{ g.name }}" class="{% if active_genre == g.name %}active{% endif %}">
            {{ g.name }}
        </button>
        {% endfor %}
    </form>
</div>

<div class="books">
{% for book in books %}
    <div class="card">
        <h3>{{ book.title }}</h3>
        <p>{{ book.author }}</p>
        <p>⭐ {{ book.reviews|default:"N/A" }}</p>

        {% if book.quantity > 0 %}
        <form method="POST" action="{% url 'user_borrow_book' %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <button>Borrow</button>
        </form>
        {% else %}
            <p>❌ Not available</p>
        {% endif %}
    </div>
{% empty %}
    <p>No books available.</p>
{% endfor %}
</div>


</body>
</html>
